* {
    margin: 0;
    padding: 0;
}


/* ************** */
nav {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-titulo {
    display: grid;
    grid-row: 1/3;
    grid-template-areas:
        "img-gato titulo-gato titulo-gato";
    background-color: bisque;
}

.img-gato {
    grid-area: img-gato;
    width: 300px;
    height: auto;
}

.titulo-gato {
    grid-area: titulo-gato;
    display: flex;
    align-items: center;
    justify-content: start;
    text-transform: uppercase;
    text-decoration: none;

}


/* modificamos el main del index*/

.mainContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 85%;
    grid-template-areas:
        "tituloMainIndex tituloMainIndex"
        "parrafoIndex containerImg";
}

/* main {
    width: 100%;
} */

.tituloMainIndex {
    grid-area: tituloMainIndex;
    background-color: gray;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tituloMainIndex h2 {
    font-size: 40px;
    display: flex;

}

.containerImg {
    grid-area: containerImg;
    width: 100%;
    height: 100%;
    background-color: coral;
}

.containerImg img {
    width: 100%;
    height: 100%;
}

.containerText p {
    grid-area: textoIndex;

}

.parrafoIndex {
    grid-area: parrafoIndex;
    background-color: coral;
    display: flex;
}

.parrafoIndex p {
    font-size: 15px;
}

/* modificamos el main index con @media */
@media (max-width: 1096px) {
    .mainContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 45% 45%;
        grid-template-areas:
            "tituloMainIndex"
            "parrafoIndex"
            "containerImg";
    }

    .parrafoIndex p {
        font-size: 20px;
    }
}



/* footer */

.footer-container {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: bisque;

}

.footer-container ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.footer-container li {
    padding: 2rem;
}

.feed {
    color: black;
    text-decoration: none;

}

/* ADOPCIONES */

.mainAdopciones {
    background-color: coral;
}


/* DONACIONES */

.containerDonaciones {
    background-color: coral;
}

.donacionesParrafo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donacionesParrafo p {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DONDE ESTAMOS */


.mainDE {
    background-color: coral;
}


/* tamaño mapa */

.containerMap {
    max-width: 50px;
}

.imgMap {
    max-width: 1500px;
    max-height: 500px;
}


/* CONTACTO */
.mainContacto {
    background-color: coral;
}

.containerFormImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "containerFormulario imgContacto"
        "containerFormulario imgContacto";
}

.mainContacto p {
    grid-area: parrafoContacto;
}

.containerFormulario {
    grid-area: containerFormulario;
    background-color: darkgoldenrod;
    border: 1px black solid;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.formu1 {
    padding: 15px;
}

.formu2 {
    padding: 15px
}

.formu3 {
    padding: 30px
}

.formu4 {
    margin: 30px;
}

.imgContacto {
    grid-area: imgContacto;
    width: 100%;
    height: 100%;
}

.imgCont {
    width: 100%;
    height: 100%;
}

/* modificamos estructura de Contacto */
@media (max-width: 1200px) {
    .containerFormImg {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "containerFormulario"
            "imgContacto";

    }

}



/* botones del navbar Adopciones*/

.botonAdop1 {
    color: coral;
}
.botonAdop1:hover {
    background-color: gray;
    border-radius: 5px;
}  
.botonAdop:hover{
    background-color: gray;
    border-radius: 5px;
}

/* botones del navbar contacto*/

.botonContacto1 {
    color: coral;
}
.botonContacto1:hover{
    background-color: gray;
    border-radius: 5px
}
.botonContacto:hover{
    background-color: gray;
    border-radius: 5px
}

/* botones del navbar donaciones */

.botonDona1 {
    color: coral;
}

.botonDona1:hover{
    background-color: gray;
    border-radius: 5px
}

.botonDona:hover{
    background-color: gray;
    border-radius: 5px
}

/* botones del navbar donde estamos */

.botonDonde1 {
    color: coral;
}

.botonDonde1:hover{
    background-color: gray;
    border-radius: 5px
}

.botonDonde:hover{
    background-color: gray;
    border-radius: 5px
}